<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>JQueryAjaxProject</display-name>
	
	<servlet>
	    <servlet-name>myStockServlet</servlet-name>
	    <servlet-class>com.joe.servlet.StockServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>myAutoCompleteServlet</servlet-name>
	    <servlet-class>com.joe.servlet.AutoCompleteServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>myAutoCompleteJSTLServlet</servlet-name>
	    <servlet-class>com.joe.servlet.AutoCompleteJSTLServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>myAutoCompleteJSTLServlet</servlet-name>
	    <url-pattern>/AutoCompleteJSTLServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>myAutoCompleteServlet</servlet-name>
	    <url-pattern>/AutoCompleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>myStockServlet</servlet-name>
	    <url-pattern>/StockServlet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!--taglib>
	    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>  
		<taglib-location>/WEB-INF/c.tld</taglib-location> 
	</taglib-->
</web-app>
